header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(0.5rem, 5vh, 3rem) 0;
}

main.content {
  flex-grow: 1;
}

h1.title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-2xl);
  font-weight: bold;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--color-gradient-from) 33.33%,
    var(--color-gradient-to) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
