:root {
  color-scheme: dark;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-size-xs: clamp(0.55rem, 0.14vw + 0.54rem, 0.87rem);
  --font-size-sm: clamp(0.8rem, 0.2vw + 0.69rem, 1.05rem);
  --font-size-md: clamp(1.1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.5rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-base: var(--font-size-md);
  --color-text: rgb(245, 240, 240);
  --color-bg: rgb(20, 20, 20);
  --color-gradient-from: rgb(130, 85, 255);
  --color-gradient-to: rgb(255, 64, 89);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-text);
  font-size: var(--font-size-base);
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  margin-inline: max((100% - 62rem)/2, 1.25rem);
  background-color: var(--color-bg);
  min-height: 100vh;
}
